.Description {
  margin: 50px 0;
  padding: 20px;
  width: 80%;
  height: 150px;
  border-radius: 8px;
  border: 1px solid #eee;
}

@media (max-width: 800px) {
  .Description {
    font-size: large;
  }
}