.Task {
  width: 500px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.Task input{
  width: 80%;
  height: 30px;
  color: grey;
  text-align: center;
  border-radius: 7px;
  border: 1px solid #c8c8c8;
  list-style: none;
  margin: 20px 0;
}

.Task button {
  width: 100px;
  height: 30px;
  background: #bd9ff3;
  border: 1px solid #c8c8c8;
  border-radius: 7px;
  cursor: pointer;
  margin: auto 10px;
  font-weight: bold;
}

.Task button:hover,
.Task button:active {
  color: white;
}
