.Profile {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.Profile img {
  width: 250px;
  height: 250px;
  overflow: hidden;
}

@media (max-width: 800px) {
  .Profile,
  .Profile img {
    width: 100px;
    height: 100px;
  } 
}