.Post {
  margin: 20px;
  padding: 10px;
  width: 60%;
  height: 500px;
  border-radius: 9px;
  box-shadow: 4px 5px 3px #eee;
  background: #ffffff;
  text-align: center;
}


@media (min-width: 700px) {
  .Post {
    height: 300px;
  }
}