.Post {
  margin: 20px;
  padding: 10px;
  width: 60%;
  height: auto;
  border-radius: 9px;
  box-shadow: 4px 5px 3px #eee;
  background: #ffffff;
  text-align: center;
}


@media (max-width: 800px) {
  .Post {
    width: 100%;
  }
}